$color-primary: #2e3236;
$color-secondary: #44494e;
$color-background: #5e6266;

$color-tertiaryLight: #616a7c;
$color-tertiary: #444961;
$color-tertiaryDark: #2f3242;

$color-featureLight: #5d8194;
$color-feature: #415c69;
$color-featureDark: #324650;

$color-featureLight: #4d4a88;
$color-feature: #4e3e75;
$color-featureDark: #332a52;
